<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laundry"
        tools:targetApi="31">
        <activity
            android:name=".PilihLayananActivity"
            android:exported="false" />
        <activity
            android:name=".Data_Transaksi_Activity"
            android:exported="false" />
        <activity
            android:name=".Pilih_Layanan_Tambahan_Activity"
            android:exported="false" />
        <activity
            android:name=".Pilih_pelanggan_Activity"
            android:exported="false" />
        <activity
            android:name=".invoice_Activity"
            android:exported="false" />
        <activity
            android:name=".Konfirmasi_data_Transaksi_Activity"
            android:exported="false" />
        <activity
            android:name=".Dialog_mod_PegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Data_Tambahan_Activity2"
            android:exported="false" />
        <activity
            android:name=".Tambah_TambahanActivity"
            android:exported="false" />
        <activity
            android:name=".Tambah_Cabang_Activity"
            android:exported="false" />
        <activity
            android:name=".Data_Cabang_Activity"
            android:exported="false" />
        <activity
            android:name=".Dialog_mod_pelanggan"
            android:exported="false" />
        <activity
            android:name=".Tambah_layanan_Activity"
            android:exported="false" />
        <activity
            android:name=".Card_data_layananActivity2"
            android:exported="false" />
        <activity
            android:name=".DataLayananActivity2"
            android:exported="false" />
        <activity
            android:name=".Data_Pegawai_Activity"
            android:exported="false" />
        <activity
            android:name=".transaksi.DataActivity"
            android:exported="false" />
        <activity
            android:name=".Tambah_PegawaiActivity2"
            android:exported="false" />
        <activity
            android:name=".Pelanggan.Tambah_pelangganActivity"
            android:exported="false" />
        <activity
            android:name=".Pelanggan.DataPelangganActivity"
            android:exported="false" />
    </application>

</manifest>